.container {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  background-color: dodgerblue;

  padding: 5px;

  gap: 5px;

}

.container div {

  background-color: #aba8a8;

  color: #1f0205;

  padding: 10px;

  font-size: 30px;

  text-align: center;

}

h1{
    color: #ff0019; 
}
 